name: Review

on:
  workflow_call:
  # Release calls this Workflow
  pull_request:
    branches:
      - main
      - beta
      - alpha
  merge_group:
    types:
      - checks_requested

jobs:
  autofix:
    name: autofix.ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Codegen
        run: yarn codegen:code

      - name: Fix ESLint
        run: yarn lint:eslint:fix

      - name: Fix Prettier
        run: yarn format

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
        with:
          commit-message: "style: apply automated fixes"

  lint-tsc:
    name: Lint TSC
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint with TSC
        run: yarn lint:tsc

  lint-eslint:
    name: Lint ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint with ESLint
        run: yarn lint:eslint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Test with Jest
        run: yarn test

  build-library:
    name: Build Library
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build Library
        run: yarn prepack

  review-android:
    name: Android
    uses: ./.github/workflows/review-android.yml

  review-ios:
    name: iOS
    uses: ./.github/workflows/review-ios.yml
